@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1280px) {

    #footer .container,
    #tabsMovie .container,
    #tabsNews .container,
    #downloadApp .container {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1281px) {

    #footer .container,
    #tabsMovie .container,
    #tabsNews .container,
    #downloadApp .container {
        width: 60%;
        margin: 0 auto;
    }
}

#tabsMovie .headerShadow__tabsMovie {
    background-image: url(../public/images/bg-tabsmovie.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 120px;
}

#tabsMovie .ant-tabs-nav-list .ant-tabs-tab {
    opacity: 0.7;
}

#tabsMovie .ant-tabs-nav-list .ant-tabs-tab-active {
    opacity: 1;
    border-right: 2px solid #6b9080;
    z-index: 5;
}

#tabsMovie .ant-tabs-nav-list {
    width: 90px;
    border: 1px solid #e0e0e0;
}

#tabsMovie .ant-tabs-tab,
#tabsMovie .ant-tabs-tab-active {
    height: 90px;
}

#tabsMovie .ant-tabs-left>.ant-tabs-nav .ant-tabs-tab+.ant-tabs-tab {
    margin: 0;
}

#tabsMovie .ant-tabs-tab::after {
    content: '';
    width: 80%;
    height: 1px;
    background: rgba(238, 238, 238, .88);
    position: absolute;
    bottom: 0;
    right: 10%;
}


#tabsMovie .ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    padding: 0;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-nav-list {
    width: 264px;
    border: 1px solid #e0e0e0;
    border-left: none;
}

#tabsMovie .ant-tabs>.ant-tabs-nav .ant-tabs-nav-more {
    border-bottom: 1px solid #e0e0e0;
}

#tabsMovie .ant-tabs-left>.ant-tabs-nav .ant-tabs-tab {
    padding: 20px;
}

#tabsMovie .detailTheater {
    width: 224px;
}

#tabsMovie .detailTheater h4 {
    color: #6b9080;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.00735em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 0;
}

#tabsMovie .detailTheater h6 {
    color: #f6fff8;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    margin-bottom: 0;
}

#tabsMovie .detailTheater a {
    color: #a4c3b2;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.02857em;
    text-decoration: none;
}

#tabsMovie .detailTheater a:hover {
    color: #a4c3b2;
}

/* END detailTheater TAB */

/* START movieShowtime TAB */
#tabsMovie .ant-tabs-content-holder .ant-tabs-content-holder .ant-tabs-content {
    width: 100%;
    border: 1px solid #eaf4f4;
    border-left: none;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .movieShowtime {
    padding: 20px;
    position: relative;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .movieShowtime::after {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    background: #f6fff8;
    position: absolute;
    bottom: 0;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content img {
    width: 100px;
    object-fit: contain;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime {
    width: 555px;
    padding: 0 20px;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .movieTag {
    background-color: #a4c3b2;
    color: white;
    display: inline-block;
    font-size: 16px;
    padding: 0 5px;
    border-radius: 4px;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime {
    display: inline-block;
    background-color: #eaf4f4;
    border: 1px solid #f6fff8;
    color: #a4c3b2;
    font-size: 14px;
    font-weight: 500;
    padding: 8px;
    margin: 0px 16px 16px 0px;
    border-radius: 4px;
    text-decoration: none;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime span:first-of-type {
    color: #6b9080;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime span:last-of-type {
    color: #a4c3b2;
}

#tabsMovie .ant-tabs-content-holder .ant-tabs-content .detailShowtime .showtime:hover {
    font-weight: 600;
}

/* END movieShowtime TAB */
/* END TABS MOVIE */

/* START TABS NEWS */
#tabsNews .ant-tabs-tab {
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02857em;
    min-width: 160px;
    min-height: 48px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    position: relative;
}

#tabsNews .ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;
}

#tabsNews .ant-tabs-tab:hover {
    color: black;
    font-size: 22px;
}

#tabsNews .ant-tabs-tab.ant-tabs-tab-active {
    border-bottom: 3px solid #a4c3b2;
    z-index: 1;
    transition: .3s;
}

#tabsNews .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #a4c3b2;
    font-size: 22px;
}

#tabsNews .articleItem a {
    display: inline-block;
    text-align: left;
    text-decoration: none;
}

#tabsNews .articleItem a img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

#tabsNews .articleItem a h5 {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.00938em;
    transition: .2s;
}

#tabsNews .articleItem a h5:hover {
    color: #a4c3b2;
}

#tabsNews .articleItem a p {
    height: 55px;
    color: #a4c3b2;
    font-size: 13px;
    font-weight: 400;
    text-align: justify;
    line-height: 19px;
    letter-spacing: 0.00938em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tabsNews .articleItem .articleItem_small a h5 {
    color: #a4c3b2;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.00938em;
    transition: .2s;
}

#tabsNews .articleItem .articleItem_small a h5:hover {
    color: #a4c3b2;
}

#tabsNews button {
    color: #a4c3b2;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    border: 1px solid #a4c3b2;
    display: inline-block;
    padding: 8px 24px;
    transition: all .2s;
    border-radius: 4px;
}

#tabsNews button:hover {
    color: #f6fff8;
    background: #a4c3b2;
    border-color: #a4c3b2;
}


/* END TABS NEWS */
